<div class="container text-center my-5">
    <h1 class="display-4 my-5">Editing Pet</h1>
    <%= render 'form', pet: @pet %>
    <br>
    <%= link_to 'Show', client_pet_path(@client.id) %> |
    <%= link_to 'Back', client_pets_path(@client.id) %>
</div>

